* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.home-body {
    color:rgb(43, 54, 23);
    background: url('oranges-in-corner.jpg') fixed;
    background-size: cover;
    background-repeat: no-repeat;
} 

.main-body {
    color: aliceblue; 
    background: url('cherry-tomatoes-plated-with-kitchen-scissors.jpg') fixed;
    background-size: cover;
    background-repeat: no-repeat;
} 

header {
    display: flex;
   flex-direction: column; 
    align-items: center;
    width: 100%;
    /* padding: 30px 0; */
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

nav {
    display: flex;
    justify-content: flex-end;
    /*background-color: #4a8058;*/
    color: aliceblue; 
    width: 100%;
}

.hamburger {
    padding-right: 20px;
}

.mainMenu.toggleCls{
    display: block;
    list-style: none;
}

nav ul {
    display: none;
}


.logo img {
    width: 30%;
    height: 30%;
}


.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    padding-left: 20px;
    line-height: 19px;
    margin-bottom: 20px;
}


a:link {
    text-decoration: none;
    color: white;
}

.home-button {
    padding: 8px;
    border: #b2c767;
    background-color: #b7ce67;
    /*color: aliceblue;*/
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.generate {
    padding: 8px;
    border: #07292e;
    background-color: #07292e;
    color: aliceblue;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(72, 112, 68);
}

.main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

form {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    color: darkslategrey;
}

h1 {
    font-size: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}


input {
    border-radius: 3px;
    border-style: hidden;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.hidden {
    display: none;
}

#results {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: left;
    padding: 10px 10px;
    background: rgba(58, 114, 88, 0.514);
    margin: 15px;
    border-radius: 3px;
    color: white;
}

#results ul{
    list-style: none;
    padding-inline-start: 10px;
}

h5 {
    text-align: center;
}


@media screen and (max-width: 320px) {
    img {
        width: 40%;
        height: 40%;
    }
}

@media screen and (max-width: 375px){
    img {
        width: auto;
        height: auto;
    }
}


@media screen and (min-width: 600px){
    img {
        width: 25%;
        height: 25%;
    }


    form {
        text-align: left;
        align-items: left;
        align-content: left;
        padding: 50px;
        width: 100%;
    }

    .main {
        align-content: left;
        align-items: left;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 900px) {
    img {
        width: 20%;
        height: 20%;
    }

   /* .home-body {
        background-size: 1140px 732px;
    }

    .main-body {
        background-size: 1140px 732px;
    } */

    .hamburger {
        display: none;
    }

    nav ul {
        display: inline;
        list-style: none;
        text-align: right;
        font-size: 16px;
        /* padding: 15px 20px; */
        
    }

    form {
        text-align: left;
        align-items: left;
        align-content: left;
        padding: 50px;
        width: 100%;
    }

    .main {
        align-content: left;
        align-items: left;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media screen and (min-width: 1220px) {
   
   /* .home-body {
        background-size: 1440px 733px;
    }

    .main-body {
        background-size: 1440px 733px;
    } */
    
    img {
        width: 15%;
        height: 15%;
    }

    .hamburger {
        display: none;
    }

    nav ul {
        display: inline;
        list-style: none;
        text-align: center;
        font-size: 16px;
        /* padding: 15px 20px; */
        
    }

    form {
        text-align: left;
        align-items: left;
        align-content: left;
        padding: 50px;
        width: 100%;
    }

    .main {
        align-content: left;
        align-items: left;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
    }

}