* {
    box-sizing: border-box;
}

html {
    background-size: cover;
    background-color: transparent teal;
}

body {
    font-family: sans-serif;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}